* {
    box-sizing: border-box;
  }
  body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
input{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
}
.content{
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
}

.header-section{
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 527px;
}

.header-section .header-content{
    box-sizing: border-box;
    padding: 30px 0;
    display: flex;
    float: right;
    margin-right: 6.25%;
}
.header-section .header-content ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}
.header-section .header-content ul li {
    font-size: 15px;
    color: #172129;
    font-weight: 700;
    display: inline-block;
    margin-left: 30px;
}
.header-section .header-content .search-area form input{
    margin-left: 25px;
}
.header-section-mobile{
    display: none;
    background-image: url("../img/banner-mobile.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 245px;
    margin: 0;
}
.header-section-mobile img{
    padding: 13px;
}
.nav-search{
    display: flex;
    float: right;
    padding: 13px;
}
.search-toggle{
    display: flex;
}
.nav-search input{
    margin-left: 20px;
}
.title-button-mobile{
    text-align: center;
}
.title-button-mobile h1{
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
    color: #3b3b3b;
}
.title-button-mobile h2{
    margin-top: 0;
    font-size: 17px;
    font-weight: 300;
    color: #676767;
}
.title-button-mobile input{
    margin-top: 45px;
    width: 100px;
    height: 30px;
    border: none;
    background-color: #26b522;
    color: #FFFF;
    cursor: pointer;
    font-size: 9px;
}
.banner-content{
    position: absolute;
    margin-top: 0;
    margin-left: 70px;
    padding-top: 120px;
}
.banner-content h1{
    margin: 0;
    font-size: 44px;
    font-weight: 300;
    color: #3b3b3b;
}

.banner-content h2 {
    margin-top: 10px;
    margin-bottom: 0d;
    font-size: 26.35px;
    font-weight: 300;
    color: #676767;
}

.banner-content input {
    margin-left: 3px;
    width: 168px;
    height: 51px;
    border: none;
    background-color: #26b522;
    color: #FFFF;
    cursor: pointer;
    font-size: 15.47px;
}

.section-title{
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}

.section-title h1 {
    margin: 0;
    font-size: 35px;
    font-weight: 300;
    color: #172129;
    font-family: 'Open Sans', sans-serif;
}

.sobre-img-1{
    width: 100%;
    height: 100%;
    min-width: 240px;
    min-height: 200px;
    margin-left: 70px;
    margin-right: 30px;
    margin-top: 13px;
}
.sobre-mobile-image{
    width: 100%;
    padding: 0;
}
.sobre-img-desktop{
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}
.sobre-img-mobile{
    display: none;
    width: 100%;
    background-size: 100% 100%;
}
.leia-mais{

    display: none;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}
.leia-mais input{
    border: none;
    background-color: #ffff;
    font-size: 16px;
    font-weight: 500;
}
.sobre-content{
    display: flex;
}

.sobre-text-button p{
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 12em;
    margin-right: -1.5em;
    padding-right: 1.5em;
    margin: 0;
    font-size: 16px;
    line-height: 2.5;
}
.section-button-sobre {
    border: none;
    width: 163px;
    height: 44px;
    color: #FFFF;
    background-color: #587296;
    cursor: pointer;

}
.sobre-text p{
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 12em;
    padding-left: -0.5em;
    margin-left: 70px;
    margin-right: 10px;
    font-size: 16px;
    line-height: 2.5;
}
.sobre-img-2{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    min-width: 240px;
    min-height: 200px;
    margin-right: 70px;
}
.sobre-img-2 img{
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}
.portfolio-img{
    padding: 20px;
}

.portfolio-img ul{
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 5%;
    list-style: none;
    text-align: left;
    justify-content: center;
}
.section-button-port {
    border: none;
    width: 238px;
    height: 54px;
    margin-left: calc(50% - 119px);
    margin-top: 30px;
    color: #FFFF;
    background-color: #587296;
    cursor: pointer;

} 
.depoimentos-slider{
    display: flex;
}
.depoimentos-slider ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    display: flex;
}
.perfil-classifica{
    display: flex;
    width: 100%;
}
.anterior-button{
    margin-top: 47px;
    margin-left: 8.75%;
    margin-right: 26px;
    cursor: pointer;
}
.proximo-button{
    margin-top: 47px;
    margin-right: 8.75%;
    margin-left: 26px;
    cursor: pointer;
}

.perfil-classifica-texto h3{
    font-size:12.35px;
    margin-top: 0;
    margin-bottom: 12px;
    margin-left: 11px;
}

.perfil-classifica-texto p{
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 6em;
    font-size: 9.88px;
    margin-top: 0;
    margin-left: 11px;
    line-height: 2;
}

.depoimentos-slider li{
    margin-right: 26px;
}

.dados-contato input {
    display: grid auto auto auto;
    border:1px solid #172129;
    width: 21.5%;
    height: 45px;
    padding: 2px 8px;
}
.dados-nome,
.dados-sobrenome{
    margin-right: 3.2%;
}
.form-contato-mobile{
    display: none;
}

.dados-nome{
    margin-left: 13.8%;
}
.inform-contato{
    display: flex;
}
.inform-contato input,
textarea{
    border:1px solid #172129;
    box-sizing: border-box;
    padding: 8px;
}
.msg-contato{
    margin-left: 13.8%;
    margin-top: 30px;
    width: 35.45%;
    height: 120px;
    padding-top: 10px;
}
.tel-contato{
    margin-top: 30px;
    height: 45px;
    width: 100%;
}
.div-text-button-contato{
    width: 33.25%;
    margin-left: 3.05%;
}
.text-button-contato{
    display: flex;
}
.text-button-contato p{
    margin-top: 30px;
    font-size: 10px;
}
.text-button-contato input{
    height: 45px;
    width: 89.8%;
    padding: 0;
    margin-top: 30px;
    margin-left: 14.5%;
    border: none;
    font-size: 15px;
    background-color: #26b522;
    cursor: pointer;
    color: #FFFF
}
.footer{
    background-color: #333333;
    height: 392px;
    width: 100%;
}

.div-footer-section{
    margin-top: 80px;
    padding-top:25px ;
}
.footer-section{
    display: flex;
    height: 327px;
    width: 88.75%;
    margin: 0 57.03% 29px 5.54%;
    border: 3px solid #FFFF
}
.newsletter-portfolio,
.menu-sobre{
    height: 100%;
    width: 50%;
    border: 2px solid #FFF;
    outline: none;
}
.newsletter-input-button{
    margin-left: 3%;
    width: 92.7%;
    display: flex;
}
.newsletter-email{
    padding-left: 8px;
    border: none;
    height: 45px;
    width: 62.65%;
}
.newsletter-email-button{
    width: 37.34%;
    color: #FFF;
    border: none;
    cursor: pointer;
    background-color: #26b522;
}
.newsletter-portfolio h1{
    margin-top: 20px;
    margin-left: 3%;
    font-size: 15px;
    color: #FFF;
}
.portfolio-footer{
    margin-top: 57px;
}
.portfolio-link{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 3%
}
.menu-sobre-options{
    color: #FFF;
    display: flex;
}
.menu ul{
    list-style: none;
}
.sobre ul{
    list-style: none;
}
.menu ul li h2{
    font-weight: 700;
    font-size:15px;
    margin-bottom: 20px;
}
.menu ul li h3{
    font-size:11px;
}
.sobre ul li h2{
    font-weight: 700;
    font-size:15px;
    margin-bottom: 20px;
}
.sobre ul li h3{
    font-size:11px;
}
.vasta-logo{
    position: relative;
}
.vasta-logo img{
    margin-top: 70px;
    margin-left: calc(50% - 73.5px);
}
.menu-sobre-options{
    width: 100%;
}
.sobre{
    margin-left: 35%;
}

@media screen and (max-width:1000px){
    .header-section{
        height: 400px;
    }
    .banner-content h1{
        font-size: 35px;
    }
    .banner-content h2 {
        margin-top: 8px;
        font-size: 20px;
    }
    .portfolio-link img{
        max-width: 70px;
        max-height: 70px;
    }
}@media screen and (max-width: 700px){
    .header-section{
        height: 325px;
    }
    
}@media screen and (min-width: 1280px){
    .sobre-section,
    .depoimentos-slider,
    .contato-container,
    .div-footer-section{
        max-width: 1280px;
        margin-left: calc( ( 100% - 1280px ) / 2)
    }
}@media screen and (max-width: 1100px){
    .portfolio-img ul{
        grid-template-columns: auto auto;
    }
    .portfolio-link img{
        max-width: 90px;
        max-height: 90px;
    }
}@media screen and (max-width: 600px){
    
    .header-section,
    .sobre-text,
    .sobre-img-2,
    .sobre-img-desktop,
    .sobre-img-1,
    .section-button-sobre,
    .port-imagem-5,
    .port-imagem-6,
    .depoimento-02,
    .depoimento-03,
    .inform-contato{
        display: none;
    }
    .header-section-mobile,
    .sobre-img-mobile,
    .leia-mais{
        display: block;
    }
    .section-title{
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
    
    .section-title h1 {
        margin: 0;
        font-size: 22px;
        font-weight: 300;
        color: #172129;
        font-family: 'Open Sans', sans-serif;
    }
    .sobre-content{
        display: block;
    }
    .sobre-text-button{
        padding-top: 10px;
        margin-left: 1em;
    }
    .sobre-text-button p{
    overflow: hidden;
    position: relative;
    max-height: 26em;
    margin-left: 0.1em;
    margin-right: -0.5em;
    font-size: 16px;
    line-height: 1.9;
    }.portfolio-img ul li img{
        max-width: 100%;
        height: auto;
    }
    .anterior-button{
        margin-left: 10%;
    }
    .proximo-button{
        margin-right: 5%;
    }.dados-contato{
        display: grid;
        grid-gap: 10%;
        margin-left: 12.5%;
    }
    .dados-contato input {
        width: 85%;
    }.dados-nome,
    .dados-sobrenome{
        margin: 0;
    }
    .form-contato-mobile{
        display: grid;
        padding-top:15px
    }.form-contato-mobile textarea {
        width: 75%;
        margin-left: 12.7%;
    }.form-contato-mobile p {
        margin-left: 13%;
        font-size: 10px;
    }.form-contato-mobile input{
        border: 0;
        background-color: #26b522;
        color: #FFF;
        height: 24px;
        width: 75%;
        margin-left: 12.7%;
    }
}@media (min-width: 400px) and (max-width: 600px){
    .anterior-button{
        margin-left: 15%;
    }
    .proximo-button{
        margin-right: 15%;
    }
}
